<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />
    <script src="/js/home/register.js" defer></script>
    <script
      src="https://kit.fontawesome.com/34fbf3adf6.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <body class="align">
      <div class="grid">
        <form class="form login">
          <header class="login__header">
            <h3 class="login__title">SIGN UP</h3>
          </header>

          <div class="login__body">
            <div class="form__field">
              <input id="id" type="text" placeholder="아이디" />
            </div>

            <div class="form__field">
              <input
                id="name"
                class="register__name"
                type="text"
                placeholder="이름"
              />
            </div>

            <div class="form__field">
              <input
                id="psword"
                class="register__psword"
                type="password"
                placeholder="비밀번호"
              />
            </div>

            <div class="form__field">
              <input
                id="confirm-psword"
                type="password"
                placeholder="비밀번호 확인"
              />
            </div>
          </div>

          <footer class="login__footer">
            <p id="button">Sign Up</p>

            <p>
              <span class="icon icon--info"
                ><i class="fas fa-sign-in-alt"></i></span
              ><a href="/login">Login</a>
            </p>
          </footer>
        </form>
      </div>
    </body>
  </body>
</html>

<!-- Copyright (c) 2021 by Marco Biedermann (https://codepen.io/marcobiedermann/pen/dsbFy) -->
